<p><%= t('text_logined', username: "test", login_count: 10, login_time: 10) %></p>
<p><%= t('text_unlogined', login_time: 10) %></p>
<p><%= t('site_state', logined_count: 10, unlogined_count: 10) %></p>
